
<head>
    <meta charset="gb2312">
    <title>Title</title>
</head>


<body>
<style>
body
{
	background-image:url('static/images/banner.jpg');
	background-color:#F0FFF0;
	margin: 0;
	text-align: center;
	 background-repeat:no-repeat;
	background-size: cover;

}
.con{
	text-align: center;
	margin: 60px;
}
</style>
<div style="text-align:center;margin: 150px;font-family:courier;font-size:300%">
	Sales Information System
</div>
<div class="con">
<form action="add" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="username" required="">
								<label>Nickname</label>
								<span></span>
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="password" name="password" required="">
								<label>Password</label>
								<span></span>
							</div>
							
							<input type="submit" value="Sign Up">
						</form>
						<a style="color: white;" href="/sign">Sign in</a>
						
						</div>
						</body>