<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Title</title>
</head>
	<script type="text/JavaScript" src="F:\Pycharm code\web\templates\jquery-3.4.1.js"></script>
	<script type="text/javascript" src="F:\Pycharm code\web\templates\jquery.form.min.js"></script>
	<script type="text/javascript" src="F:\Pycharm code\web\templates\jquery.cookie.js"></script>
	<script>
		jQuery.cookie('the_cookie','nimabi'，{expires: 7,path:'/system'});
	</script>
	<body  onload="javascript:history.back()">

	</body>
</html>
